<!--File name - footer.ejs, 
	Author's name - Vinayak Mahajan,
	web site name -  https://instructors-to-do.herokuapp.com/, 
	file description - This is the footer.ejs file which is called by other content html files to add footer.-->

	
	<footer style="color: white">
		Vinayak Mahajan | 2018	
	</footer>
	
    </body>
</html>